# Integers

In [4]:
num1 = 10
num2 = 20

sum = num1 + num2
difference= num1 - num2
product= num1 * num2
division = num1 / num2



print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Division:", division)

Sum: 30
Difference: -10
Product: 200
Division: 0.5

# Floats

In [8]:
num1 = 3.14
num2 = 2.718

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
division = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Division:", division)

Sum: 5.8580000000000005
Difference: 0.42200000000000015
Product: 8.53452
Division: 1.155261221486387

# Boolean

In [9]:
is_student = True
is_teacher = False

is_active = True
is_inactive = False


age = 25
is_adult = age >= 18
is_senior = age >= 60

print("Am I a student?", is_student)
print("Am I a teacher?", is_teacher)
print("Am I active?", is_active)
print("Am I inactive?", is_inactive)
print("Am I an adult?", is_adult)
print("Am I a senior citizen?", is_senior)

Am I a student? True
Am I a teacher? False
Am I active? True
Am I inactive? False
Am I an adult? True
Am I a senior citizen? False



# Strings

# strings indexing

In [18]:
name = "student"


first_char = name[0]
second_char = name[1]
third_char = name[2]
fourth_char =name[3]
second_last_char =name[-2]
third_last_char = name[-3]


print("First character:", first_char)
print("Second character:", second_char)
print("Third character:", third_char)
print("fourth character:", fourth_char)
print("Second last character:", second_last_char)
print("Third last character:", third_last_char)

First character: s
Second character: t
Third character: u
fourth character: d
Second last character: n
Third last character: e

# Slicing

In [34]:
name = "student,teacher"


first_char =name[0:4]  
second_char = name[1:4]
third_char = name[7:]
fourth_char = name[:10]

  

print("first_char:", first_char)
print("second_char:", second_char)
print("third_char:", third_char)
print("fourth_char:", fourth_char)

first_char: stud
second_char: tud
third_char: ,teacher
fourth_char: student,te

# Strings class method

In [38]:
text = "  Hello, World!  "

uppercase_text = text.upper()
lowercase_text = text.lower()
replaced_text = text.replace("World", "Universe")
split_text = text.split(",")


print("Uppercase:", uppercase_text)
print("Uppercase:", uppercase_text)
print("Replaced:", replaced_text)
print("Split:", split_text)

Uppercase:   HELLO, WORLD!
Uppercase:   HELLO, WORLD!
Replaced:   Hello, Universe!
Split: ['  Hello', ' World!  ']